*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'titillium-web.regular', sans-serif;
}

body{
  align-items: center;
  justify-content: center;
}

.main-header {
  margin-right: 72%;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 31px;
  text-align: center;
  cursor: pointer;
}

p{
font-weight: bold;
}

.navbar{
  overflow:hidden;
  background-color: white;
  /* height: 63px; */

}

.logout_img{
  margin-top: -11px;
  margin-top: 10px;
  opacity: 0.5;
  width: 25px;
}

.logo{
  height: 27.57px;
  width: 151px;
  margin-top: -4px;
  margin-left: 20px;
}

.bg-light{
  background-image: url('../img/backgroun_img.PNG');
}

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
background: #D2D2D2; 
border-radius: 22px;
height:1px
}

::-webkit-scrollbar-thumb:hover {
background: #D2D2D2; 
}


.main-header a,.main-header a:hover{
  color: black;
  text-decoration: none;
}

.main_body{
  margin-top: 20px;
}