{% extends "ui_index.html" %}
{% load static %}
{% block content %}
<div class="add-documents rounded shadow-sm col-8 mt-5 p-5" id="model-status-card">
    {% if msg %}
    <p class="text-center model-status-text">{{msg}}</p>
    {% else %}
    <p class="text-center model-status-text">Model training is in progress</p>
    {% endif %}
    
    <p class="text-center model-status-text">Log back to <a href="/"  class="go-to-home"><u>Document Classification</u></a> Interface after some time to try the new model
        </p>
    <a href="/" hidden class="go-to-home">gotohome</a>
</div>
<script>
setTimeout(function(){
    window.location.href = '/'
    }, 5000);
</script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'underscore/underscore-min.js' %}"></script>
{% endblock %}