{% extends "ui_index.html" %}
{% load static %}
{% block content %}
<div class="extract-entities-block" id="extract_entities_block">
  <!--SECTION one -->
  <form enctype="multipart/form-data" method="post" action="/">
    {% csrf_token %}
    <div class="top-container rounded shadow-sm">
      <div class="drag-drop-area d-flex">
        <div class="">
          <button class="btn cursor-pointer" type="button"><img src="../static/img/upload_img.PNG" class="upd_img"/></button>
        </div>
        <div class="drag-area-header">
          <header>Drag a Document/Click here to upload</header>
        </div>
        <div class="">
          <button id="extract_btn" type="button">Upload</button>
        </div>
        <input type="file" name="media" hidden multiple required>
      </div>
    </div>
    <div class="bottom-container">
      <p class='container-header'>Available Classifications</p>
      <div class="available-classifications">
        <div class="cards-row row">
          <!-- card -->
          <input class="validation-checkbox" type="checkbox" required hidden >
          {% for item in model_data %}
          <div class="card model-card rounded shadow-sm column" data-class="{{item}}">
            <input class="model-input-tag" type="checkbox" name="entities" data-class="{{item}}" value="{{item}}">
            <header class="avl-card-header">{{item}}</header>
            <div class="avl-card-buttons">
              <button class="btn btn-card btn-select" type="button" data-class="{{item}}" data-istrained="nottrained">Select</button>
              <button class="btn btn-card btn-details" type="button" data-toggle="modal" data-target="#detailsModal" data-class="{{item}}" data-istrained="nottrained">View Details</button>
            </div>
          </div>
          {% endfor %}
          {% if  trained_model %}
          <div class="card model-card rounded shadow-sm column" data-class="{{trained_model}}">
            <input class="model-input-tag" type="checkbox" name="entities" data-class="{{trained_model}}" value="{{trained_model}}">
            <header class="avl-card-header">{{trained_model}}</header>
            <div class="avl-card-buttons">
              <button class="btn btn-card btn-select" type="button" data-class="{{trained_model}}" data-id="{{model_id}}" data-istrained="trained">Select</button>
              <button class="btn btn-card btn-details" type="button" data-toggle="modal" data-target="#detailsModal" data-class="{{trained_model}}" data-id="{{model_id}}" data-istrained="trained">View Details</button>
            </div>
          </div>
          {% endif %}
          <a href="/train_model" class="train-model-btn" id="train-model-btn">
            <div class="card model-card rounded shadow-sm column justify-content-center" >
              <img src="../static/img/plus-lg.svg" alt="add" class="train-modal-img">
              <span class="train-modal-text mt-2">Train a New Model</span>
            </div>
          </a>
        </div>
    </div>
    <input id="submit_btn" type="submit" class="btn" val="Submit"/>
  </form>
</div>

  <!-- popup-model -->

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-container">
      <div class="d-flex modal-top">
        <header class="modal-heading">List of Classifications</header>
        <button type="button"  data-dismiss="modal" class="modal-close">X</button>
      </div>
      <div class="modal-body details-modal">
        <div class="card-detils"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alert_limit" tabindex="-1" role="dialog" aria-labelledby="alert_limitLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="alert-popup-content modal-content">
      <div class="alert-popup-header modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert-popup-body modal-body">
        You can only select 5 Files
      </div>
    </div>
  </div>
</div>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'underscore/underscore-min.js' %}"></script>
<script src="{% static 'js/extract.js' %}"></script>
{% endblock %}
